
:root {
    --primary_1 : #218c74;
    --primary_2 : #33d9b2;
    --gray_1: #84817a;
    --gray_2: #aaa69d;
    --gray_3: #efefef;
    --gray_4: #f7f1e3;
    --font-family: 'Montserrat', sans-serif;;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 /15%);
    --box-shadow-nav: rgb(0 0 0 /50%) 0px 2px 18px 0px;
}