h1{
    margin : 0;
    font-family: var(--font-family);
    font-size : 3vw;
    color:var(--primary_1);
}

h2{
    margin : 0;
    font-family: var(--font-family);
    font-size : 2.5vw;
    color:var(--primary_1);
}

h3{
    margin : 0;
    font-family: var(--font-family);
    font-size : 2vw;
    color:var(--primary_1);
}

h4{
    margin : 0;
    font-family: var(--font-family);
    font-size : 1.5vw;
    color:var(--primary_1);
}

h5{
    margin : 0;
    font-family: var(--font-family);
    font-size : 1vw;
    color:var(--primary_1);
}

.gray_h1{
    margin : 0;
    font-family: var(--font-family);
    font-size : 3vw;
    color:var(--gray_1);
}

.gray_h2{
    margin : 0;
    font-family: var(--font-family);
    font-size : 2.5vw;
    color:var(--gray_1);
}

.gray_h3{
    margin : 0;
    font-family: var(--font-family);
    font-size : 2vw;
    color:var(--gray_1);
}

.gray_h4{
    margin : 0;
    font-family: var(--font-family);
    font-size : 1.5vw;
    color:var(--gray_1);
}

.gray_h5{
    margin : 0;
    font-family: var(--font-family);
    font-size : 1vw;
    color:var(--gray_1);
}

p{
    font-size : 0.5vw;
    font-family: var(--font-family);
    color:var(--primary_1);
}